name: Action Tester Workflow

on:
  pull_request:

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: yarn install
      - run: yarn run build

      - name: Test PR Commenter
        uses: ./
        with:
          json-file: |
            test-data/tf_test.json
            test-data/tf_test2.json
            test-data/tf_test3.json

      - name: Test PR Comment Expand feature
        uses: ./
        with:
          json-file: test-data/tf_test.json
          expand-comment: "true"
          include-plan-job-summary: "true"
          comment-header: "BIG HEADER"
          comment-footer: "BIG FOOTER"
          include-workflow-link: "true"
          quite: "true"

      - name: Test PR Commenter with no changes
        uses: ./
        with:
          json-file: test-data/tf_nochanges.json
