name: Action Tester Workflow

on:
  pull_request:

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: yarn install
      - run: yarn run build

      - name: Test PR Commenter
        uses: ./
        with:
          json-file: |
            test-data/tf_test.json
            test-data/tf_test2.json
            test-data/tf_test3.json

      - name: Test PR comment hiding
        uses: ./
        with:
          json-file: |
            test-data/tf_test.json
            test-data/tf_test2.json
            test-data/tf_test3.json
          hide-previous-comments: true
          comment-header: "Same as previous but previous comment should be hidden."
          

      - name: Test PR Comment Expand feature
        uses: ./
        with:
          json-file: test-data/tf_test.json
          expand-comment: "true"
          include-plan-job-summary: "true"
          comment-header: "BIG HEADER"
          comment-footer: "BIG FOOTER"
          include-workflow-link: "true"
          quiet: "true"
          include-job-link: "true"

      - name: Test PR Commenter with no changes
        uses: ./
        with:
          json-file: test-data/tf_nochanges.json
    
  matrix-plan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        json:
          - tf_test4
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: yarn install
      - run: yarn run build

      - name: Test PR Commenter with matrix job
        uses: ./
        with:
          json-file: test-data/${{ matrix.json }}.json
          comment-header: Plan Summary for ${{ github.job }} (${{ matrix.json }})
          quiet: true
          expand-comment: true
          hide-previous-comments: true
          include-workflow-link: true
          include-job-link: true
          include-plan-job-summary: true
          include-tag-only-resources: true
          include-unchanged-resources: true
